<ion-header>
  <ion-navbar [color]="isAndroid ? 'primary' : 'primary'">
    <ion-title>WoW! Events</ion-title>
    <ion-buttons start>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    </ion-buttons>
    <ion-buttons end>
    <button ion-button icon-only>
      <ion-icon name='search'></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg">
   <ion-card>

    <img src="assets/img/event-pic.jpg"/>

    <ion-card-content>
      <ion-card-title>
        ChengDa's Musicial
      </ion-card-title>
      <p>
        ChengDa 's first musicial haha'
      </p>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='star'></ion-icon>
          Favorite
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='apps'></ion-icon>
          More
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='share-alt'></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>

  </ion-card>

  <ion-card>

    <div>
      <img src="assets/img/event-pic.jpg"/>
    </div>

    <ion-card-content>
      <ion-card-title>
        Erykah Badu
      </ion-card-title>
      <p>
      American singer-songwriter, record producer, activist, and actress, Badu's style is a prime example of neo-soul.
      </p>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='star'></ion-icon>
          Favorite
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='apps'></ion-icon>
          More
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='share-alt'></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>

  </ion-card>

  <ion-card>

    <div>
      <img src="assets/img/queen-live.png"/>
    </div>

    <ion-card-content>
      <ion-card-title>
        Queen
      </ion-card-title>
      <p>
        The British rock band formed in London in 1970, and is considered one of the biggest stadium rock bands in the world.
      </p>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='star'></ion-icon>
          Favorite
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='apps'></ion-icon>
          More
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='share-alt'></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>

  </ion-card>

  <ion-card>

    <div>
      <img src="assets/img/rundmc-live.png"/>
    </div>

    <ion-card-content>
      <ion-card-title>
        Run-D.M.C.
      </ion-card-title>
      <p>
        The American hip hop group widely acknowledged as one of the most influential acts in the history of hip hop.
      </p>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='star'></ion-icon>
          Favorite
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='musical-notes'></ion-icon>
          More
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='share-alt'></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>
